<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">
            [%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}:%L - %msg%n%throwable
        </Property>
        <Property name="BASE_URL_API">
            logs/
        </Property>
    </Properties>
    <Appenders>
        <!--         Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- api debug file -->
<!--        <RollingFile name="debugLog-api" fileName="${BASE_URL_API}LOG-SHEET-DEBUG-API.LOG"-->
<!--                     filePattern="${BASE_URL_API}LOG-SHEET-DEBUG-API-%d{yyyy-MM-dd}.LOG.gz">-->
<!--            <LevelRangeFilter minLevel="ERROR" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>-->
<!--            &lt;!&ndash;            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>&ndash;&gt;-->
<!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
<!--            <Policies>-->
<!--                <TimeBasedTriggeringPolicy/>-->
<!--            </Policies>-->
<!--            &lt;!&ndash; Keep up to 10 files in the archive &ndash;&gt;-->
<!--            &lt;!&ndash;            <DefaultRolloverStrategy max="10"/>&ndash;&gt;-->
<!--        </RollingFile>-->

        <!-- api info log file -->
        <!--        <RollingFile name="infoLog-api" fileName="${BASE_URL_API}LOG-SHEET-INFO-API.LOG"-->
        <!--                     filePattern="${BASE_URL_API}LOG-SHEET-INFO-API-%d{yyyy-MM-dd}.LOG.gz">-->
        <!--            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>-->
        <!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
        <!--            <Policies>-->
        <!--                <TimeBasedTriggeringPolicy/>-->
        <!--            </Policies>-->
        <!--        </RollingFile>-->

        <!--        &lt;!&ndash; api error log file &ndash;&gt;-->
        <!--        <RollingFile name="errorLog-api" fileName="${BASE_URL_API}LOG-SHEET-ERROR-API.LOG"-->
        <!--                     filePattern="${BASE_URL_API}LOG-SHEET-ERROR-API-%d{yyyy-MM-dd}.LOG.gz">-->
        <!--            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>-->
        <!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
        <!--            <Policies>-->
        <!--                <TimeBasedTriggeringPolicy/>-->
        <!--            </Policies>-->
        <!--        </RollingFile>-->

        <!--        &lt;!&ndash; api warn log file &ndash;&gt;-->
        <!--        <RollingFile name="warnLog-api" fileName="${BASE_URL_API}LOG-SHEET-WARN-API.LOG"-->
        <!--                     filePattern="${BASE_URL_API}LOG-SHEET-WARN-API-%d{yyyy-MM-dd}.LOG.gz">-->
        <!--            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>-->
        <!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
        <!--            <Policies>-->
        <!--                <TimeBasedTriggeringPolicy/>-->
        <!--            </Policies>-->
        <!--        </RollingFile>-->

        <!-- Async Appender -->
<!--        <Async name="Async">-->
<!--            <AppenderRef ref="debugLog-api"/>-->
<!--            &lt;!&ndash;            <AppenderRef ref="infoLog-api"/>&ndash;&gt;-->
<!--            &lt;!&ndash;            <AppenderRef ref="errorLog-api"/>&ndash;&gt;-->
<!--            &lt;!&ndash;            <AppenderRef ref="warnLog-api"/>&ndash;&gt;-->
<!--        </Async>-->
    </Appenders>

    <Loggers>
        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="Async"/>-->
        </Root>

        <!-- Spring Framework Logs -->
        <!--        <Logger name="org.springframework" level="info" additivity="false">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--            <AppenderRef ref="Async"/>-->
        <!--        </Logger>-->

        <!-- Mongodb Logs -->
        <!--        <Logger name="org.mongodb" additivity="false">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--            <AppenderRef ref="Async"/>-->
        <!--        </Logger>-->

        <!-- Your application specific package -->
        <!--        <Logger name="com.diya.microservices" additivity="false">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--            <AppenderRef ref="Async"/>-->
        <!--        </Logger>-->

        <!-- Hidden logs packages-->
        <!--        <Logger name="org.springframework" level="OFF" additivity="false"/>-->
        <!--        <Logger name="org.hibernate" level="OFF" additivity="false"/>-->
        <!--        <Logger name="org.jboss.logging" level="OFF" additivity="false"/>-->

    </Loggers>
</Configuration>
